@model QLSV.Models.Certificate

<h4>Certificate</h4>
<hr />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<table id="CertificateTable" class="table">
    <thead>
        <tr>
            <th>Certificate Name</th>
            <th>Certificate Rank</th>
            <th>Graduation Date</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        <tr id="tablerow1">
            <td>
                <input asp-for="CertificateName" class="form-control" />
                <span asp-validation-for="CertificateName" class="text-danger"></span>
            </td>
            <td>
                <input asp-for="CertificateRank" class="form-control" />
                <span asp-validation-for="CertificateRank" class="text-danger"></span>
            </td>
            <td>
                <input asp-for="GraduationDate" class="form-control" />
                <span asp-validation-for="GraduationDate" class="text-danger"></span>
            </td>
            <td>
                <button type="button" class="btn btn-primary" onclick="removeTr(0);">Delete</button>
            </td>
        </tr>
    </tbody>
</table>
<p>
    <button id="add" type="button" class="btn btn-primary">Add</button>
</p>
<form action="" method="post">
    <button name="Create" value="Create">Create</button>
</form>
<script>
    var counter = 1;
    $(function add() {
        $('#add').click(function () {
            $('<tr id="tablerow' + counter + '"><td>' +
                '<input asp-for="CertificateName" class="form-control" />' +
                '<span asp-validation-for="CertificateName" class="text-danger"></span>' +
                '</td>' +
                '<td>' +
                '<input asp-for="CertificateRank" class="form-control" />' +
                '<span asp-validation-for="CertificateRank" class="text-danger"></span>' +
                '</td>' +
                '<td>' +
                '<input asp-for="GraduationDate" type="date" class="form-control" />' +
                '<span asp-validation-for="GraduationDate" class="text-danger"></span>' +
                '</td>' +
                '<td>' +
                '<button type="button" class="btn btn-primary" onclick="removeTr(' + counter + ');">Delete</button>' +
                '</td>' +
                '</tr>').appendTo('#CertificateTable');
            counter++;
            return false;
        });
    });
    function removeTr(index) {
        if (counter > 1) {
            $('#tablerow' + index).remove();
            counter--;
        }
        return false;
    }
</script>

<div>
    <a asp-action="Index">Back to List</a>
</div>

