html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

aside {
    width: 50%;
    float: right;
    padding-right: 50px;
}
section {
    width: 40%;
    float: left;
}
footer{
    margin-top: auto;
}